@charset "utf-8";
:root{
    --cor01:#e0e0e0;
    --cor02:#797979a1;
    --cor03:rgb(85, 99, 79);
    --cor04:rgba(53, 46, 46, 0.493);
}
*{
    padding: 0px;
    margin: 0px;  
    /* border: 1px solid greenyellow;  */
}
.back{
    background-image: url('Imagens/body1.png');
    max-width: 99vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: fixed;
    
}
body img{
}
header{
    background-image: linear-gradient(to right, #e0e0e0,#797979a1 );
    padding-top: 10px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    height: 75px;
}
nav{
    
}
#nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly; 
    padding-top: 10px;

}
#nav>a:hover{
    font-size: 28px;

}
#nav>a{  
    text-decoration: none;
    color: inherit;
    font-size: 22px;
    transition-duration: 0.25s;
}
.slider{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
.slider-content{
    display: flex;


}
.nav-manual, .nav-auto{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25%;

}
#radio1{
    color: rgb(89, 0, 255);

}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid cyan ;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.nav-manual .manual-btn:not(:last-child) , .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover{
    background-color: rgba(0, 255, 255, 0.568);

}
input{
    display: none;

}
#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: cyan;
}
.nav-manual input{
    display: none;
}
main{
    background-color: rgba(255, 255, 255, 0.774);
    margin: auto;
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.356);
    min-width: 380px;
    max-width: 70%;
    padding: 10px;

}
.fr{
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    border-radius: 15px;

}
.frt{
    text-align: right;
    margin-bottom: 20px;
    margin-right: 10px;
    background-image:linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.438));
    padding: 4px;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.479);

}
section.casess{
    display: flex;
    justify-content: space-evenly;

}
img{
    display: block;
    margin: auto;
}
footer{
    background-color: black;
    color: white;
    text-align: center; 
    width: 100%;
    max-width: 100%;
    /* padding: 10px; */
}
.div{
    width: 30%;
    min-width: 220px;
    margin: auto;
    justify-content:space-around;

    padding: 10px;
}
.div h1{
    align-items: center;
}
p{
    text-align: justify;
}
h3{
    text-align: center;
    margin-top: 10px;
}
.caixa-tx{
    min-width: 100%;
}




